adal==1.2.7
aiofile==3.8.1
azure-common==1.1.28
azure-core==1.26.1
azure-data-tables==12.4.1
azure-identity==1.12.0
azure-mgmt-billing==6.0.0
azure-mgmt-compute==29.0.0
azure-mgmt-core==1.3.2
azure-mgmt-costmanagement==3.0.0
azure-mgmt-resource==21.2.1
azure-mgmt-subscription==3.1.1
azure-storage-blob==12.14.1
caio==0.9.12
croniter==1.3.8
isodate==0.6.1
msal==1.20.0
msal-extensions==1.0.0
msrest==0.7.1
msrestazure==0.6.4
multidict==6.0.4
oauthlib==3.2.2
portalocker==2.6.0
PyJWT==2.6.0
pytz==2023.3
requests-oauthlib==1.3.1
yarl==1.9.2
