@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

$hr-background-color: $pink;

$box-shadow: 0 0 0 0;
$box-background-color: $beige-lighter;
$box-padding: 1rem;

$footer-padding: 2rem 1.5rem 2rem;

.pink-background {
    background-color: $pink !important;
}

$section-padding: 1.5rem 1.5rem;

// $hero-body-padding-small: 1rem;

@import "../node_modules/bulma/bulma.sass";